.style {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    column-gap: 150px;
    row-gap: 50px;
}

.link {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 1px;
}

.style a {
    text-decoration: none;
    color: black
}